{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "google",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "require-jsdoc": "off",
    "@typescript-eslint/member-ordering": "error",
    "@typescript-eslint/explicit-member-accessibility": ["error", { "overrides": { "constructors": "no-public"}}],
    "object-curly-spacing": "off",
    "max-len": ["error", { "code": 120}],
    "indent": ["error", 2],
    "space-before-function-paren": "off"
  }
}