@import "../../variables.scss";

.context-menu {
  position: relative;

  &__options {
    display: none;
    position: absolute;
    background-color: $white;
    border-radius: 12px;
    box-shadow: 0 0 6px $grey-1;
    padding: 15px;
    flex-direction: column;
    gap: 20px;

    &_header {
      right: 0;
      top: calc(100% + 25px);
      min-width: 210px;

      & .menu-option::before {
        background-image: url("../../assets/cross.svg");
        border: 1px solid $base-color;
        border-radius: 50%;
      }

      & .menu-option:last-child::before {
        transform: rotate(45deg);
      }
    }

    &_message {
      left: 0;
      bottom: calc(100% + 20px);
      min-width: 164px;

      & .menu-option::before {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      & .menu-option:nth-child(1)::before {
        background-image: url("../../assets/image.svg");
      }

      & .menu-option:nth-child(2)::before {
        background-image: url("../../assets/file.svg");
      }

      & .menu-option:nth-child(3)::before {
        background-image: url("../../assets/location.svg");
      }
    }

    & .menu-option::before {
      content: '';
      position: absolute;
      width: 22px;
      height: 22px;
      left: 0;
      top: 0;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &_open .context-menu__options {
    display: flex;
  }

  &__button.custom-button {
    background-color: transparent;
    position: relative;
  }

  &_open .context-menu__button_header.custom-button {
    background-color: $grey-2;

    &::after,
    &::before {
      background-color: $base-color;
    }

    &::after {
      box-shadow: 0 5px 0 0 $base-color;
    }
  }

  &__button_header.custom-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: block;

    &:hover {
      background-color: $grey-2;
    }
    
    &::after,
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: $black;
      left: calc(50% - 1.5px);
    }

    &::before {
      top: calc(50% - 6px);
    }

    &::after {
      top: calc(50% - 1.5px);
      box-shadow: 0 5px 0 0 $black;
    }

    &:hover::after,
    &:hover::before {
      background-color: $base-color;
    }

    &:hover::after {
      box-shadow: 0 5px 0 0 $base-color;
    }
  }

  &__button_message.custom-button {
    width: 32px;
    height: 32px;
    display: block;
    background-image: url("../../assets/clip.svg");

    &:hover {
      border: 1px solid $grey-1;
    }
  }

  &__open .header-menu__options {
    display: flex;
  }
}