@import "../../variables.scss";

.row-input {
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }

  &__input {
    text-align: right;
    border: none;
    outline: none;
    color: $grey;

    &:disabled {
      color: $grey;
      background-color: transparent;
    }

    &:focus {
      color: $base-font-color;
    }
  }

  &__label {
    cursor: text;
  }

}