@import "../../variables.scss";

.chats-item {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  gap: 10px;
  position: relative;
  border-top: 1px solid $border-color;

  &__avatar {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    vertical-align: middle;
  }

  &__content {
    flex: 1;
  }

  &__title {
    font-weight: 600;
    margin-bottom: 6px;
  }

  &__message {
    color: $grey;

    &_own::before {
      content: "Вы:";
      display: inline;
      color: $base-font-color;
      margin-right: 10px;
    }
  }

  &__time {
    color: $grey;
    font-size: 9px;
  }

  &__unread {
    position: absolute;
    bottom: 10px;
    right: 0;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $base-color;
    line-height: 20px;
    color: $white;
    text-align: center;
    font-size: 9px;
  }
}
