
<div class="chats-item__avatar-container">
  <img class="chats-item__avatar" alt="Виктор" src="https://i.pravatar.cc/47" width="47" height="47"/>
</div>
<div class="chats-item__content">
  <div class="chats-item__title">{{title}}</div>
  <div class="chats-item__message"><span>Последнее сообщение</span></div>
</div>
<div class="chats-item__time">11:02</div>
<div class="chats-item__unread">2</div>
