 @import '../../variables.scss';

.user-form {
  width: 340px;
  padding: 30px;
  padding-top: 40px;
  background-color: $white;
  outline: 1px solid red;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__errorMessage {
    color: $red;
    position: absolute;
    top: 15px;
    left: 30px;
    width: 280px;
    text-align: center;
    font-size: 12px;
  }
}

