<div class="chats">
  <div class="chats__sidebar">
    <div class="sidebar__header">
      <a href="#" class="sidebar__link">Профиль</a>
    </div>
    <div class="sidebar__search">
      <span class="sidebar__input-container">
        <input type="text" class="sidebar__input" placeholder="Поиск"/>
      </span>
    </div>
    <div class="chats__list">

    </div>
  </div>
  <main class="chats__main chats__main_empty">
    <p class="chats__empty-message">Страница будет реализована в следующем спринте.</p>
  </main>
</div>