<div class="chats__sidebar">
  <div class="sidebar__header">
    {{{profileLink}}}
  </div>
  <div class="sidebar__search">
    <span class="sidebar__input-container">
      <input type="text" class="sidebar__input" placeholder="Поиск"/>
    </span>
  </div>
  {{{chatList}}}
  <div class="sidebar__footer">
    {{{addButton}}}
  </div>
</div>
{{{chat}}}
