{{!-- <div class="profile"> --}}
  <button class="profile__back"></button>
  <main class="profile__main">
    <div 
      {{#if isInViewMode}}class="profile__photo-container"{{/if}}
      {{#unless isInViewMode}}class="profile__photo-container profile__photo-container_editing"{{/unless}}
    >
      <a href="#" class="profile__photo-link">
        <div class="profile__photo-placeholder"></div>
      </a>
    </div>
    {{#if isInViewMode}}
      <div class="profile__name">{{name}}</div>
    {{/if}}
    {{!-- <form class="profile__form">
      <div class="form__fields">
        {{#unless editPassword}}
          {{>rowInput  label="Почта" id="email" type="text" name="email" isInViewMode=isInViewMode  value="email@test.ru" }}
          {{>rowInput label="Логин" id="phone" type="text" name="login" isInViewMode=isInViewMode   value="ivanov" }}
          {{>rowInput label="Имя" id="first_name" type="text" name="first_name" isInViewMode=isInViewMode   value="Иван" }}
          {{>rowInput label="Фамилия" id="second_name" type="text" name="second_name" isInViewMode=isInViewMode   value="Иванов" }}
          {{>rowInput label="Имя в чате" id="display_name" type="text" name="display_name" isInViewMode=isInViewMode   value="Иванов" }}
          {{>rowInput label="Телефон" id="phone" name="phone" type="text" isInViewMode=isInViewMode   value="+7(909)9673030" }}
        {{/unless}}
        {{#if editPassword}}
          {{>rowInput  label="Старый пароль" id="old_password" type="password" name="old_password" isInViewMode=false value="password" }}
          {{>rowInput label="Новый пароль" id="password" type="password" name="password" isInViewMode=false   value="123" }}
          {{>rowInput label="Повторите новый пароль" id="password_repeat" type="password" name="password_repeat" isInViewMode=false value="123" }}
        {{/if}}
      </div>

      <div class="form__buttons">
        {{#if isInViewMode}}
          <div class="profile__link-row">
            <a href="#" class="profile__link profile__link_data">Изменить данные</a>
          </div>
          <div class="profile__link-row">
            <a href="#" class="profile__link profile__link_password">Изменить пароль</a>
          </div>
          <div class="profile__link-row">
            <a href="#" class="profile__link profile__link_exit">Выйти</a>
          </div>
        {{/if}}
        {{#unless isInViewMode}}
          <div class="custom-button__container">
            {{> customButton type="submit" title="Сохранить" id="save-profile"}}
          </div>
        {{/unless}}
      </div>
    </form> --}}
    {{#if_eq viewMode 'profile' }}
      {{{profileForm}}}
    {{/if_eq}}
    {{#if_eq viewMode 'password' }}
      {{{passwordForm}}}
    {{/if_eq}}
  </main>
{{!-- </div> --}}
