{{{backButton}}}
<main class="profile__main">
  <div 
    {{#if isInViewMode}}class="profile__photo-container"{{/if}}
    {{#unless isInViewMode}}class="profile__photo-container profile__photo-container_editing"{{/unless}}
  >
    <a href="#" class="profile__photo-link">
      <div class="profile__photo-placeholder"></div>
    </a>
  </div>
  {{#if isInViewMode}}
    <div class="profile__name">{{name}}</div>
  {{/if}}
  {{#if_eq viewMode 'profile' }}
    {{{profileForm}}}
  {{/if_eq}}
  {{#if_eq viewMode 'password' }}
    {{{passwordForm}}}
  {{/if_eq}}
</main>

