.password-form {
  width: 510px;
  margin-bottom: 50px;

  &__buttons {
    margin-top: 90px;
  }

  & .custom-button {
    &__container {
      display: flex;
      justify-content: center;
    }
  }
}