<div class="password-form__fields">
  {{{passwordInput}}}
  {{{oldPasswordInput}}}
  {{{passwordRepeatInput}}}
</div>
<div class="password-form__buttons">
  <div class="custom-button__container">
    {{{button}}}
  </div>
</div>