@import url("../../variables.scss");

.form-input__container {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.form-input {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $base-color;
  width: 100%;
  font-size: 13px;
  line-height: 13px;

  &::placeholder {
    color: transparent;
  }

  &__label {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 2px;
    transition: 0.2s ease all;
    font-size: 9px;
    line-height: 9px;
    color: $grey;
  }

  &:placeholder-shown~label {
    top: 19px;
    left: 2px;
    font-size: 13px;
    line-height: 13px;
    transition: all 0.2s ease-out;
  }

  &__errorMessage {
    position: absolute;
    left: 0;
    bottom: 2px;
    font-size: 8px;
    line-height: 8px;
    color: $error-color;
  }

  &_invalid {
    color: $error-color;
  }
}

.row-input {
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }

  &__input {
    text-align: right;
    border: none;
    outline: none;
    color: $grey;
    width: 60%;

    &:disabled {
      color: $grey;
      background-color: transparent;
    }

    &:focus {
      color: $base-font-color;
    }
  }

  &__label {
    cursor: text;
  }

  &_invalid {
    color: $error-color;
  }

  &__errorMessage {
    position: absolute;
    left: 0;
    bottom: 2px;
    font-size: 8px;
    line-height: 8px;
    color: $error-color;
  }
}