@import "../../variables.scss";

.sign-up-form {
  padding: 50px 30px 30px;
  width: 340px;
  box-shadow: 0 0 6px $shadow-color;
  border-radius: 12px;

  &__title {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  &__buttons {
    margin-top: 45px;
  }

  &__link {
    text-decoration: none;
    color: $base-color;
    display: block;
    width: fit-content;
    margin: 14px auto 0;
    font-size: 11px;
    line-height: 11px;
  }
}
