{{#if avatar}}
  <img class="avatar__image" src={{avatar}}  alt="avatar"/>
{{/if}}
<div class="avatar__text">
  {{#if avatar}}
  <div>Поменять</div>
  {{else}}
  <div>Загрузить</div>
  {{/if}}
  <div>аватар</div>
</div>
