$blue: #3369F3;
$grey: #999999;
$red: #FF2F2F;
$grey-1: rgba(0, 0, 0, 0.14);
$grey-2: #EAEAEA;
$grey-3: #EFEFEF;
$white: #FFFFFF;
$black: #1E1E1E;

$base-color: $blue;
$base-font-color: $black;
$error-color: $red;
$shadow-color: $grey-1;
$border-color: $grey-2;