<div class="chat__date">{{date}}</div>
<div class="chat-message">
  <p class="chat-message__text">А когда эти сообщения будут выводиться динамически?</p>
  <div class="chat-message__time">11:45</div>
</div>
