<div class="sign-in-page">
  <form class="sign-in-form">
    <div class="sign-in-form__title">Вход</div>
    {{> formInput title="Логин" name="login" type="text" valid=true}}
    {{> formInput title="Пароль" name="password" type="password" valid=true}}
    <div class="sign-in-form__buttons">
      {{> customButton type="button" title="Авторизоваться" id="sing-in-button"}}
      <a href="#" class="sign-in-form__link">Нет аккаунта?</a>
    </div>
  </form>
</div>
